html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;

}
header { 
    align-items: center;
    background: #80c254;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 20rem;
    padding: 0;
}

header h1 {
    color: #fff;
    border-bottom: .1rem solid #fff;
    font-size: 2.4rem;
    line-height: 1;
    margin: 0;
}



